<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Edit Video</h1>
        <form action="/videos/edit/<%= video.id %>" method="post" id="form">
            <label for="title">Video Title: </label>
            <input name="title" type="text" value="<%= video.title %>" required />
            <label for="description" >Video Description: </label>
            <input name="description"  type="text" value="<%= video.description %>"  required />
            <label for="category">Category</label>
            <select name="category" id="category">
                <% categories.map(cat => { %>
                     <option value="<%= cat.id %>"><%= cat.category_name %></option>
                <% }) %>
            </select>
            <label for="link">Video Link</label>
            <input name="link" value="<%= video.video_link %>"  type="text" required />
            <button type="submit">Add</button>
        </form>
    </body>
</html>
